/**
 * Breakpoints
 */
$phone: 320px;
$phablet: 480px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1680px;
$widescreen: 2200px;

// List of breakpoints (used in mixins and functions
$breakpoints-list: (
  phone: $phone,
  phablet: $phablet,
  tablet: $tablet,
  laptop: $laptop,
  desktop: $desktop,
  widescreen: $widescreen,
);

/**
 * Spacing sizes
 */
$spacing-sizes: (
  0: (
    phone: 0px,
    tablet: 0px,
    laptop: 0px,
  ),
  1: (
    phone: 2px,
    tablet: 3px,
    laptop: 4px,
  ),
  2: (
    phone: 4px,
    tablet: 6px,
    laptop: 8px,
  ),
  3: (
    phone: 6px,
    tablet: 9px,
    laptop: 12px,
  ),
  4: (
    phone: 8px,
    tablet: 12px,
    laptop: 16px,
  ),
  5: (
    phone: 12px,
    tablet: 18px,
    laptop: 24px,
  ),
  6: (
    phone: 16px,
    tablet: 24px,
    laptop: 32px,
  ),
  7: (
    phone: 24px,
    tablet: 36px,
    laptop: 48px,
  ),
  8: (
    phone: 32px,
    tablet: 48px,
    laptop: 64px,
  ),
  9: (
    phone: 64px,
    tablet: 96px,
    laptop: 128px,
  ),
);

/**
 * Min and max content width caps
 */
$min-width: false;
$max-width: 1520px;

/**
 * Number of grid columns
 */
$columns: 48;

/**
 * Colours
 */
$white: #fff;
$black: #000;
$fade: rgba(#fff, 0.2);
$fade-strong: rgba(#fff, 0.4);
$red: #f50d0d;
$dark-purple: #5a3786;
$purple: #7619a7;
$pink: #e36cdd;
$gradient: linear-gradient(
  45deg,
  hsl(279deg 74% 38%) 0%,
  hsl(282deg 67% 41%) 21%,
  hsl(284deg 60% 44%) 30%,
  hsl(287deg 55% 47%) 39%,
  hsl(289deg 51% 50%) 46%,
  hsl(292deg 52% 53%) 54%,
  hsl(295deg 54% 55%) 61%,
  hsl(297deg 56% 58%) 69%,
  hsl(300deg 60% 62%) 79%,
  hsl(303deg 68% 66%) 100%
);

/**
 * Easings
 */
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);

:root {
  --shadow-color: 270deg 53% 21%;
  --shadow-elevation: 0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.25),
    0.6px 1.3px 1.6px -0.8px hsl(var(--shadow-color) / 0.25),
    1.6px 3.2px 4px -1.7px hsl(var(--shadow-color) / 0.25),
    3.7px 7.7px 9.6px -2.5px hsl(var(--shadow-color) / 0.25);
}
